*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    height: 25px;
    justify-content: space-between;
    background-color: #248795;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 15px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: antiquewhite;
}

.article__content {
    max-width: 600px;
    margin: auto;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.article__content p {
    line-height: 1.5;
}

.article__content h1 {
    font-weight: 700;
    margin: 0;
    font-size: 38px;
}

.imagen {
    border-radius: 10%;
    max-width: 600px;
    margin: 25px auto 0;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

footer {
    background-color:  #248795; 
    padding: 20px 0; 
}

.footerContainer {
    width: 100%;
    text-align: center; 
}

.footerNav {
    margin: 20px 0; 
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style: none; 
}

.footerNav ul li a {
    color: #fff;
    margin: 10px 20px; 
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7; 
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
    text-decoration: underline; 
}

.footerBotton {
    background-color:  #248795; 
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.footerBotton p {
    color: #fff;
    font-size: 0.9em;   
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

section {
    display: flex;
    position: relative;
    width: 600px;
    height: 430px;
    margin: 0 auto; 
    margin-bottom: 20px;
    margin-top: 15px;
}

section img {
    width: 0px; 
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8; 
    transition: 0.5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
