html.body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*Header*/
a {
    text-decoration: none;
    color: aliceblue;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: rgb(39, 110, 157);
    ;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 15px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: black;
}

/*Cartas*/

body {
    font-family: Arial, sans-serif;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.carta {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    overflow: hidden;
}

.imagen {
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.contenido {
    padding: 10px;
}

h2 {
    text-align: center;
}

/*Imagenes 4x4*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 5px;
}

.column img {
    margin-top: 5px;
}

.hidden {
    display: none;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

/*Footer*/

footer {
    background-color: rgb(39, 110, 157);
    ;
    padding: 20px 0;
}

.footerContainer {
    width: 100%;
    text-align: center;
}

.footerBotton {
    background-color: rgb(39, 110, 157);
    ;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footerBotton p {
    color: #fff;
    font-size: 0.9em;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

.footerNav {
    margin: 20px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a {
    color: #fff;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footerSocial {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footerSocial a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footerSocial img {
    width: 30px;
    /* Tamaño deseado para los logotipos */
    height: 30px;
    /* Tamaño deseado para los logotipos */
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


/*Cortina*/

section {
    display: flex;
    position: relative;
    width: 600px;
    height: 430px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.slider {
    aspect-ratio: 10 / 16;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.slider img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-aling: center;
}

/*Carrucel*/

.carousel {
    width: 400px;
    /* Tamaño del carrusel */
    overflow: hidden;
    margin: 0 auto;
    /* Centrar el carrusel horizontalmente */
    position: relative;
    /* Agregar posición relativa para alinear los botones */
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 400px;
}

.carousel-image {
    width: 100%;
    height: auto;
}

.carousel-button {
    cursor: pointer;
    font-size: 36px;
    /* Aumentar el tamaño de las flechas */
    opacity: 0.6;
    /* Hacer las flechas más sutiles */
    position: absolute;
    /* Posición absoluta para los botones */
    top: 50%;
    /* Alinear verticalmente al centro */
    transform: translateY(-50%);
    /* Alinear verticalmente al centro */
}

.carousel-button.left {
    left: 0;
    /* Alinear el botón izquierdo a la izquierda */
}

.carousel-button.right {
    right: 0;
    /* Alinear el botón derecho a la derecha */
}

.carousel-button:hover {
    opacity: 1;
    /* Recuperar la opacidad al pasar el ratón por encima */
}