body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
a{
    text-decoration: none;
    color: aliceblue;
}

header{
    display: flex;
    height: 25px;
    justify-content: space-between;
    background-color: rgb(39, 110, 157);;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 15px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: black;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-container {
    display: flex;
}
.image-container img {
    width: 50%;
    transition: transform 0.2s;
}
.image-container img:hover {
    transform: scale(1.1);
}
.article {
    margin-top: 20px;
    text-align: justify;
}

footer {
    background-color: rgb(39, 110, 157);; 
    padding: 20px 0; 
}

.footerContainer {
    width: 100%;
    text-align: center; 
}

.footerBotton {
    background-color: rgb(39, 110, 157);; 
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.footerBotton p {
    color: #fff;
    font-size: 0.9em;   
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

.footerNav {
    margin: 20px 0; 
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style: none; 
}

.footerNav ul li a {
    color: #fff;
    margin: 10px 20px; 
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7; 
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
    text-decoration: underline; 
}

.footerSocial {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footerSocial a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footerSocial img {
    width: 30px; /* Tamaño deseado para los logotipos */
    height: 30px; /* Tamaño deseado para los logotipos */
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/*Slider automatico*/

.slider-box{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%; 
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 25%;
    list-style: none;
    position: relative;
}

.texto {
    position: absolute;
    text-align: center;
    padding: 0 10px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.texto h2{
    font-size: 45px;
    margin-bottom: 35px;
}

.slider-box img{
    width: 100%;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}